<mat-dialog-content class="mat-typography">
  <h2>Korisnici</h2>

  <form name="editForm" role="form" novalidate [formGroup]="editForm">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Korisnicko Ime</mat-label>
        <input matInput placeholder="" formControlName="login" name="login" />
        <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required"> This field is required. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.maxlength">
            Polje ne smije da ime vise od 50 znakova.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.pattern">
            This field can only contain letters, digits and e-mail addresses.
          </small>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Ime</mat-label>
        <input matInput placeholder="" formControlName="firstName" name="firstName" />
        <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.required"> This field is required. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.maxlength">
            Polje ne smije da ime vise od 50 znakova.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.pattern">
            This field can only contain letters, digits and e-mail addresses.
          </small>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Prezime</mat-label>
        <input matInput placeholder="" formControlName="lastName" name="lastName" />
        <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required"> This field is required. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.maxlength">
            Polje ne smije da ime vise od 50 znakova.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.pattern">
            This field can only contain letters, digits and e-mail addresses.
          </small>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>E Mail</mat-label>
        <input matInput placeholder="" formControlName="email" name="email" />
        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required"> This field is required. </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength">
            This field cannot be longer than 100 characters.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.minlength">
            This field is required to be at least 5 characters.
          </small>

          <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.email"> Your email is invalid. </small>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label jhiTranslate="userManagement.profiles">Profiles</label>
      <select class="form-control" multiple name="authority" formControlName="authorities">
        <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
      </select>
    </div>
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="activated">Checked</mat-checkbox>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close (click)="close()">Odlozi</button>
  <button mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="true" cdkFocusInitial>Sacuvaj</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Dodaj</button>
</mat-dialog-actions>
