<h2 mat-dialog-title>Ponude</h2>
<mat-dialog-content class="mat-typography">
  <form class="mat-dialog-content" #formControl="ngForm">
    <mat-form-field>
      <mat-label>Sifra Postupka</mat-label>
      <input matInput name="sifraPostupka" id="sifraPostupka" [(ngModel)]="data.sifraPostupka" #sifraPostupka />
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="sifra ponude" [(ngModel)]="data.sifraPonude" name="sifraPonude" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Broj Partije" [(ngModel)]="data.brojPartije" name="brojPartije" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Naziv Ponudjaca" [(ngModel)]="data.nazivPonudjaca" name="nazivPonudjaca" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Naziv Proizvodjaca" [(ngModel)]="data.nazivProizvodjaca" name="nazivProizvodjaca" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Zastceni Naziva" [(ngModel)]="data.zastceniNaziv" name="zastceniNaziv" />
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Ponudjena Cijena" [(ngModel)]="data.ponudjenaVrijednost" name="ponudjenaVrijednost" />
    </mat-form-field>
    <!--    <mat-form-field color="accent">-->
    <!--      <input matInput placeholder="datumPonude" [(ngModel)]="data.datumPonude" name="datumPonude" />-->
    <!--    </mat-form-field>-->

    <mat-form-field>
      <mat-datepicker #picker1></mat-datepicker>
      <input matInput [matDatepicker]="picker1" name="startDate" placeholder="Start" [ngModel]="data.datumPonude" readonly />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Rok Isporuke" [(ngModel)]="data.rokIsporuke" name="rokIsporuke" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sifra Ponudjaca</mat-label>
      <mat-select formControlName="ponudjaci" #ponudjaci>
        <mat-option></mat-option>
        <mat-option
          [value]="foo.id === editForm.get('ponudjaci')!.value?.id ? editForm.get('ponudjaci')!.value : foo"
          *ngFor="let foo of ponudjacis"
        >
          {{ foo.nazivPonudjaca }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Odlozi</button>
  <button mat-raised-button color="primary" (click)="confirmAdd()" [mat-dialog-close]="true" cdkFocusInitial>Sacuvaj</button>
</mat-dialog-actions>
