tr {
  cursor: pointer;
}

tr.mat-row:hover {
  background-color: lightgrey;
}
tr {
  cursor: pointer;
}
tr.mat-footer-row {
  font-weight: bold;
}

tr mat-row {
  font-weight: bold;
}

.search-item {
  margin-top: 10px;

  width: 260px;
}
.example-container {
  height: 450px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
