<h2 mat-dialog-title>Ugovor</h2>
<mat-dialog-content class="mat-typography">
  <form class="mat-dialog-content" #formControl="ngForm">
    <mat-form-field color="accent">
      <input matInput placeholder="sifra postupka" [(ngModel)]="data.sifraPostupka" name="sifraPostupka" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="sifra ponude" [(ngModel)]="data.sifraPonude" name="sifraPonude" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Broj Ugovora" [(ngModel)]="data.brojUgovora" name="brojUgovora" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Datum Ugovora" [(ngModel)]="data.datumUgovora" name="datumUgovora" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Broj Datum Odluke Izbora" [(ngModel)]="data.brojDatumOdlukeIzbora" name="brojDatumOdlukeIzbora" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="iznos Ugovora Bez PDV" [(ngModel)]="data.iznosUgovoraBezPdf" name="iznosUgovoraBezPdf" />
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Ponudjac" [(ngModel)]="data.ponudjaci" name="ponudjaci" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Odlozi</button>
  <button mat-raised-button color="primary" (click)="confirmAdd()" [mat-dialog-close]="true" cdkFocusInitial>Sacuvaj</button>
</mat-dialog-actions>
