//.mat-toolbar {
//  background: black;
//  color: #fff;
//}
.menu {
  display: flex;
  justify-content: flex-start;
}
.login {
  display: flex;
  justify-content: flex-start;
}
.logout {
  display: flex;
  justify-content: flex-start;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.course-actions {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}
.container-item {
  color: white;
  margin-right: 5px;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 10px;
}
.main {
  margin: 20px;
}
.right{
  margin-left: 89%;
  }
#heder{
  //border-style: dashed;
  padding-bottom: 10px;
}
#firma{
  font-weight: bold;
  color:red;
  font-family: sans-serif;
  font-style: italic;

}
#pozadina{
  background-color: rgb(232 232 232);
}
#menu-login{
  display: flex;
  justify-content: flex-end;
  background-color: #3e8acc;
}
.footer{
  margin-bottom: 10px;
}





.container{
  display: flex;
  height: 50px;
  margin-right: 2px;
  flex-direction: row;
  flex-wrap: wrap;justify-content: flex-end;

}
.container-item{
  color: white;

  width: 70px;
  margin: 10px;
text-align: center;

}
#zuto-hover:hover{
  color: yellow;
}
#hover-zuto:hover{
  color: yellow;
}
