<mat-sidenav-container fullscreen id="pozadina-cijela">
  <mat-sidenav id="pozadina" mode="side" #snav #start>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span id="firma">Montefarm ESJN</span>
      </a>
<mat-divider></mat-divider>
      <a [hidden]="!isAuthenticated()" mat-list-item routerLink="postupci-list">
        <mat-icon>question_answer</mat-icon>
        <span>Postupci</span>
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a [hidden]="!isAuthenticated()" mat-list-item routerLink="ponudjaci">
        <mat-icon>list</mat-icon>
        <span>Ponudjaci</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>power_settings_new</mat-icon>
    </button>

    <div class="pull-right">
      <mat-menu  #menu="matMenu">
        <button mat-menu-item [hidden]="!isAuthenticated()"> <p  mat-list-item routerLink="/admin/user-management">
          <mat-icon>format_align_justify</mat-icon>
          <span>Korisnici</span>
        </p></button>
        <button mat-menu-item [hidden]="isAuthenticated()"><p  mat-list-item routerLink="login">
          <mat-icon>account_circle</mat-icon>
          <span>Prijavi se </span>
        </p></button>
        <button mat-menu-item [hidden]="!isAuthenticated()"> <p  mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Odjavi se</span>
         </p></button>
        <button mat-menu-item > <p mat-list-item routerLink="account/register">
          <mat-icon>person_add</mat-icon>
          <span>Registruj se </span>
        </p></button>

      </mat-menu>
    </div>

    <div class="right">
      <div  [hidden]="!isAuthenticated()" class="container-item">
        <p>{{ account?.login }}</p>
      </div>
    </div>
  </mat-toolbar>

  <div class="main">
    <router-outlet></router-outlet>
<!--<div id="footer">-->
<!--  <jhi-footer></jhi-footer>-->
<!--</div>-->

  </div>
</mat-sidenav-container>
