.menu {
  display: flex;
  justify-content: flex-start;
}
.login {
  display: flex;
  justify-content: flex-start;
}
.logout {
  display: flex;
  justify-content: flex-start;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.course-actions {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}
.container-item {
  color: white;
  margin-right: 5px;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 10px;
}
.main {
  margin: 20px;
}
.right {
  margin-left: 89%;
}
#heder {
  //border-style: dashed;
  padding-bottom: 10px;
}
#firma {
  font-weight: bold;
  color: red;
  font-family: sans-serif;
  font-style: italic;
}
#pozadina {
  background-color: rgb(232 232 232);
}
#menu-login {
  display: flex;
  justify-content: flex-end;
  background-color: #3e8acc;
}

h3 {
  //font-weight: lighter;

  margin-top: 7px;
}

.container {
  display: flex;
  height: 50px;
  margin-right: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 5px;
}
.container-item {
  color: white;
  width: 50px;
  height: 80%;
  margin: 5px;
  text-align: center;
  //border-style: dashed;
  text-align: center;
}
#zuto-hover:hover {
  color: yellow;
}
#hover-zuto:hover {
  color: yellow;
}
.hower:hover {
  background-color: black;
  color: white;
}
.icon {
  font-size: 35px;
}
mat-expansion-panel {
  background-color: rgb(232 232 232);
}
