<h2 mat-dialog-title>{{ nazivPonudjaca }}</h2>
<mat-dialog-content [formGroup]="editForm" #form>
  <mat-form-field>
    <input matInput placeholder="naziv Ponudjaca" formControlName="nazivPonudjaca" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="adresaPonudjaca" formControlName="adresaPonudjaca" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="bankaRacun" formControlName="bankaRacun" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
