.srednja-edit {
  width: 38px;
  height: 38px;
  background-color: limegreen;
}
.srednja-delete {
  width: 38px;
  height: 38px;
  background-color: red;
}
.srednja-view {
  width: 38px;
  height: 38px;
  background-color: blue;
}
.activan {
  width: 38px;
  height: 38px;
  background-color: limegreen;
  font-size: 0.7em;
  color: white;
}
