mat-card {
  width: 350px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  vertical-align: middle;
  height: 100%;
}
.matInput{
  width:600px !important;
}
