.mat-tab-label {
  background: grey;
  color: white;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 50px;
  border: 0;
  //border-bottom: 1px solid #d9d9d9;
  margin: 0 !important;
  box-sizing: border-box;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: normal;
}
