<h2 mat-dialog-title>Ponudjaci</h2>
<mat-dialog-content class="mat-typography">
  <form class="mat-dialog-content" #formControl="ngForm">
    <mat-form-field color="accent">
      <input matInput placeholder="Naziv Ponudjaca" [(ngModel)]="data.nazivPonudjaca" name="nazivPonudjaca" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Odgovorno Lice" [(ngModel)]="data.odgovornoLice" name="odgovornoLice" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Adresa Ponudjaca" [(ngModel)]="data.adresaPonudjaca" name="adresaPonudjaca" />
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput placeholder="Racun tekuci" [(ngModel)]="data.bankaRacun" name="bankaRacun" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Odlozi</button>
  <button mat-raised-button color="primary" (click)="confirmAdd()" [mat-dialog-close]="true" cdkFocusInitial>Sacuvaj</button>
</mat-dialog-actions>
