<!--<mat-form-field class="container-search">-->
<!--  <mat-icon matPrefix>search</mat-icon>-->

<!--  <input type="search" (keyup)="doFilter(box.value)" #box matInput placeholder="Ponudjac" />-->
<!--</mat-form-field>-->

<button
  *jhiHasAnyAuthority="'ROLE_ADMIN'"
  id="jh-create-entity"
  data-cy="entityCreateButton"
  mat-raised-button
  color="primary"
  [routerLink]="['/ponude/new']"
>
  <fa-icon icon="plus"></fa-icon>
  <span>Nova Ponuda</span>
</button>
<button
  *jhiHasAnyAuthority="'ROLE_ADMIN'"
  id="nadji-fajl"
  type="button"
  matTooltip="Izaberi Excel fajl"
  mat-raised-button
  (click)="fileInput.click()"
>
  <mat-icon>attachment</mat-icon>
</button>
<!--  <input class="form-control" type="file" #fileInput />-->
<input hidden #fileInput type="file" id="file" />

<button
  id="UnseiExcel"
  *jhiHasAnyAuthority="'ROLE_ADMIN'"
  mat-raised-button
  matTooltip="Unesi podatke iz Ecela u bazu"
  color="warn"
  (click)="uploadFile()"
>
  Unesi Excel
</button>
<button
  *jhiHasAnyAuthority="'ROLE_ADMIN'"
  mat-raised-button
  color="accent"
  matTooltip="Napravi formu za unos Excel"
  (click)="DownloadExcel()"
>
  <mat-icon>download</mat-icon>
</button>

<button *jhiHasAnyAuthority="'ROLE_ADMIN'" mat-raised-button matTooltip="Ukloni cijelu ponudu" color="warn" (click)="open(content1)">
  <mat-icon>delete</mat-icon>
</button>
<mat-form-field>
  <mat-label>Nadji</mat-label>
  <mat-select (selectionChange)="getSifraPonude()" [(ngModel)]="nadjiPonudjaca">
    <mat-option (click)="ngOnChanges()">Osvjezi</mat-option>
    <mat-option *ngFor="let foo of ponude_ponudjaci" [value]="foo.sifraPonude">
      {{ foo.nazivPonudjaca }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-card class="example-container mat-elevation-z24">
  <button mat-raised-button (click)="exporter.exportTable('xlsx', { fileName: 'Ponude', sheet: 'sheet_name', Props: { Author: 'Talha' } })">
    <img src="../../../../content/images/icons8-microsoft-excel-48.png" alt="" />
  </button>
  <table
    class="example-container mat-elevation-z8"
    mat-table
    id="ExampleTable"
    matTableExporter
    [dataSource]="dataSource"
    matSort
    matSortStart="desc"
    #exporter="matTableExporter"
  >
    <ng-container matColumnDef="sifra postupka">
      <th mat-header-cell *matHeaderCellDef>Sifra Postupka</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifraPonude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="brojPartije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
      <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="nazivPonudjaca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjaci?.nazivPonudjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="naziv proizvodjaca">
      <th mat-header-cell *matHeaderCellDef>Proizvodjac</th>
      <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="zasticeni naziv">
      <th mat-header-cell *matHeaderCellDef>Zasticeni Naziv</th>
      <td mat-cell *matCellDef="let element">{{ element.zastceniNaziv }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="ponudjena vrijednost">
      <th mat-header-cell *matHeaderCellDef>Ponudjena Cijena</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost | number: '1.2-2' }}</td>
      <td mat-footer-cell *matFooterCellDef>Ukupno: {{ getTotalCost() | number: '1.2-2' }}</td>
    </ng-container>
    <ng-container matColumnDef="rok isporuke">
      <th mat-header-cell *matHeaderCellDef>Rok Isporuke</th>
      <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="edit" type="submit" [routerLink]="['/ponude', element.id, 'edit']">edit</mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="delete selected">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="delete" type="submit" (click)="delete(element)">delete</mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary">
          <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="delete-selected" (click)="open(content)">delete</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <section class="example-section">
          <mat-checkbox *jhiHasAnyAuthority="'ROLE_ADMIN'" class="example-margin" (click)="updateSelected(element.id)"></mat-checkbox>
        </section>
      </td>

      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Brisanje</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Dali ste sigurni da zeliet izbrisete selektovane partije</h4>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="modal.close('Save click')">NE</button>
    <button mat-raised-button color="warn" (click)="deleteSelected()" (click)="modal.close('Save click')">DA</button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Brisanje</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Dali ste sigurni da zelite izbrisete cijelu ponude</h4>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="modal.close('Save click')">NE</button>
    <button mat-raised-button color="warn" (click)="deleteSifra()" (click)="modal.close('Save click')">DA</button>
  </div>
</ng-template>

<hr />
