<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ugovor-heading" data-cy="UgovorCreateUpdateHeading" jhiTranslate="tenderiApp.ugovor.home.createOrEditLabel">
        Create or edit a Ugovor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.brojUgovora" for="field_brojUgovora">Broj Ugovora</label>
          <input
            type="text"
            class="form-control"
            name="brojUgovora"
            id="field_brojUgovora"
            data-cy="brojUgovora"
            formControlName="brojUgovora"
          />
          <div *ngIf="editForm.get('brojUgovora')!.invalid && (editForm.get('brojUgovora')!.dirty || editForm.get('brojUgovora')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojUgovora')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.datumUgovora" for="field_datumUgovora">Datum Ugovora</label>
          <div class="input-group">
            <input
              id="field_datumUgovora"
              data-cy="datumUgovora"
              type="text"
              class="form-control"
              name="datumUgovora"
              ngbDatepicker
              #datumUgovoraDp="ngbDatepicker"
              formControlName="datumUgovora"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="datumUgovoraDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="editForm.get('datumUgovora')!.invalid && (editForm.get('datumUgovora')!.dirty || editForm.get('datumUgovora')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('datumUgovora')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.predmetUgovora" for="field_predmetUgovora"
            >Predmet Ugovora</label
          >
          <input
            type="text"
            class="form-control"
            name="predmetUgovora"
            id="field_predmetUgovora"
            data-cy="predmetUgovora"
            formControlName="predmetUgovora"
          />
          <div
            *ngIf="
              editForm.get('predmetUgovora')!.invalid && (editForm.get('predmetUgovora')!.dirty || editForm.get('predmetUgovora')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('predmetUgovora')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.nazivPonudjaca" for="field_nazivPonudjaca"
            >Naziv Ponudjaca</label
          >
          <input
            type="text"
            class="form-control"
            name="nazivPonudjaca"
            id="field_nazivPonudjaca"
            data-cy="nazivPonudjaca"
            formControlName="nazivPonudjaca"
          />
          <div
            *ngIf="
              editForm.get('nazivPonudjaca')!.invalid && (editForm.get('nazivPonudjaca')!.dirty || editForm.get('nazivPonudjaca')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nazivPonudjaca')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="tenderiApp.ugovor.brojDatumTenderskeDokumntacije"
            for="field_brojDatumTenderskeDokumntacije"
            >Broj Datum Tenderske Dokumntacije</label
          >
          <input
            type="text"
            class="form-control"
            name="brojDatumTenderskeDokumntacije"
            id="field_brojDatumTenderskeDokumntacije"
            data-cy="brojDatumTenderskeDokumntacije"
            formControlName="brojDatumTenderskeDokumntacije"
          />
          <div
            *ngIf="
              editForm.get('brojDatumTenderskeDokumntacije')!.invalid &&
              (editForm.get('brojDatumTenderskeDokumntacije')!.dirty || editForm.get('brojDatumTenderskeDokumntacije')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojDatumTenderskeDokumntacije')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.brojDatumOdlukeIzbora" for="field_brojDatumOdlukeIzbora"
            >Broj Datum Odluke Izbora</label
          >
          <input
            type="text"
            class="form-control"
            name="brojDatumOdlukeIzbora"
            id="field_brojDatumOdlukeIzbora"
            data-cy="brojDatumOdlukeIzbora"
            formControlName="brojDatumOdlukeIzbora"
          />
          <div
            *ngIf="
              editForm.get('brojDatumOdlukeIzbora')!.invalid &&
              (editForm.get('brojDatumOdlukeIzbora')!.dirty || editForm.get('brojDatumOdlukeIzbora')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojDatumOdlukeIzbora')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.brojDatumPonude" for="field_brojDatumPonude"
            >Broj Datum Ponude</label
          >
          <input
            type="text"
            class="form-control"
            name="brojDatumPonude"
            id="field_brojDatumPonude"
            data-cy="brojDatumPonude"
            formControlName="brojDatumPonude"
          />
          <div
            *ngIf="
              editForm.get('brojDatumPonude')!.invalid &&
              (editForm.get('brojDatumPonude')!.dirty || editForm.get('brojDatumPonude')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('brojDatumPonude')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tenderiApp.ugovor.iznosUgovoraBezPdf" for="field_iznosUgovoraBezPdf"
            >Iznos Ugovora Bez Pdf</label
          >
          <input
            type="number"
            class="form-control"
            name="iznosUgovoraBezPdf"
            id="field_iznosUgovoraBezPdf"
            data-cy="iznosUgovoraBezPdf"
            formControlName="iznosUgovoraBezPdf"
          />
          <div
            *ngIf="
              editForm.get('iznosUgovoraBezPdf')!.invalid &&
              (editForm.get('iznosUgovoraBezPdf')!.dirty || editForm.get('iznosUgovoraBezPdf')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iznosUgovoraBezPdf')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iznosUgovoraBezPdf')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
